*.hg
.obj
Release
Debug
Makefile*
*.pdb
*logfile*
_Upgrade*
UpgradeLog.XML
UpgradeLog2.XML
*.vcproj*
doc
*.sln
*.ncb
*.suo
*grasp_timing*
graspit.sdf
ui_*
*.moc
graspit.exp
*.dll
*.lib
.project
.hgignore
models
hardware
ipch
xmlconverter
matlab
*.idb*
workspace
unit_tests


*~
#*#
worlds/*M7*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# QHull compiled files
qhull/q_eg
qhull/q_egtest
qhull/qhull
qhull/rbox

#image collection file that is rebuilt by qmake each time
ui/qmake_image_collection.cpp

bin/
graspit.pro.user
gen_proto/

cgdb/
saved_grasps/
